/* LES BASES */

:root {
  --btn-primary-pink--: hsl(322, 100%, 66%);
  --very-pale-cyan--: hsl(193, 100%, 96%);
  --very-Dark-cyan--: hsl(192, 100%, 9%);
  --grayish-blue--: hsl(208, 11%, 55%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* HEADER */

.container__header {
  display: flex;
  flex-direction: column;
  background-color: var(--very-pale-cyan--);
}

.container__header > img {
  position: absolute;
  width: 100rem;
  height: 40rem;
}

.container__nav {
  height: 10rem;
}

.container__nav-sub {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 2.5rem;
}

.container__header--sub {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
  z-index: 1;
}

.container__nav-sub img {
  z-index: 1;
}

.container__header--sub > img {
  width: 35rem;
  height: 25rem;
}

/* BTN */

.btn-primary {
  color: #fff;
  background-color: var(--btn-primary-pink--);
  border: none;
  padding: 1rem;
  margin-top: 1.5rem;
  border-radius: 25px;
  width: 50%;
  cursor: pointer;
}

.container__nav button[type="submit"] {
  width: 20%;
  border: none;
  padding: 1rem;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.container__items--infos i:hover {
  color: var(--btn-primary-pink--);
}

.container__nav button[type="submit"]:hover {
  color: var(--grayish-blue--);
}

button {
  z-index: 1;
}

/* SECTION */

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 13rem;
}

section:first-of-type {
  margin-top: 5rem;
}

.container__section--main {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  border-radius: 10px;
}

.container__article--sub:nth-child(1) + img,
.container img {
  width: 15rem;
}

.container__article {
  padding: 2rem;
}

.container__article--sub p {
  color: var(--grayish-blue--);
}

/* FOOTER */

.container__footer--main {
  background-color: var(--very-Dark-cyan--);
  margin-top: 20rem;
  color: var(--grayish-blue--);
  width: 100%;
  height: 30rem;
}

.container__items--infos ul li {
  list-style-type: none;
}

.container__items--infos ul li a {
  text-decoration: none;
  color: var(--grayish-blue--);
}

i {
  padding-right: 1rem;
  color: #fff;
  cursor: pointer;
}

footer img {
  filter: invert(50%);
}

footer .container {
  height: 100%;
}

/* ASIDE */

.container__aside--main {
  position: relative;

}

.container__aside--sub {
  position: absolute;
  display: flex;
  right: 50%;
  top: 15rem;
  transform: translate(50%, -50%);
  border-radius: 25px;
  padding: 5rem 10rem 5rem 10rem;
  background-color: #FFF;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}

.container__aside--sub button {
  width: 75%;
}

/* RESPONSIVE*/

@media screen and (max-width: 1350px) {
  .container__header--sub {
    flex-direction: column;
  }

  .container__header--sub img {
    width: 30%;
  }

  .container__header--paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .container {
    flex-wrap: wrap;
    height: 30rem;
    flex-direction: column-reverse;
    text-align: center;
  }

  footer .container  {
    flex-direction: column;
    margin: 2rem 2rem 0 2rem;
  }

  .container-2 {
    display: flex;
    flex-direction: column !important;
  }

  footer .container {
    padding-top: 10rem;
  }
}

.container__header > img {
  width: 100%;
}

.container a:hover {
  color: var(--btn-primary-pink--);
}
